rosbags==0.9.16

pandas==2.1.0
tqdm==4.66.1
scipy==1.8.0

plotly==5.16.1
plotly-express==0.4.1
nbformat==5.9.2
matplotlib==3.5.1
matplotlib-inline==0.1.6
kaleido==0.2.1

ipykernel==6.25.2
ipython==8.15.0

jupyter_client==8.3.1
jupyter_core==5.3.1