<?xml version="1.0" ?>

<window>
    <position_x>-1</position_x>
    <position_y>-1</position_y>
    <state></state>
    <width>800</width>
    <height>600</height>
    <style material_theme="Light" material_primary="#ff5722" material_accent="#03a9f4" toolbar_color_light="" toolbar_text_color_light="" toolbar_color_dark="" toolbar_text_color_dark="" plugin_toolbar_color_light="" plugin_toolbar_text_color_light="" plugin_toolbar_color_dark="" plugin_toolbar_text_color_dark=""/>
    <menus>
        <drawer visible="true" default="true"/>
        <plugins visible="true" from_paths="true"/>
    </menus>
</window>

<!-- 3D scene -->
<plugin filename="GzScene3D" name="3D View">
    <ignition-gui>
        <title>3D View</title>
        <property type="bool" key="showTitleBar">false</property>
        <property type="string" key="state">docked</property>
    </ignition-gui>
    <engine>ogre2</engine>
    <scene>scene</scene>
    <camera_pose>0.0 6.15 7 0 0.5 -1.5707</camera_pose>
    <!-- <camera_pose>0 0 5 0 1.57 0</camera_pose> -->
</plugin>

<!-- Play / pause / step -->
<plugin filename="WorldControl" name="World control">
    <ignition-gui>
        <title>World control</title>
        <property type="bool" key="showTitleBar">false</property>
        <property type="bool" key="resizable">false</property>
        <property type="double" key="height">72</property>
        <property type="double" key="width">121</property>
        <property type="double" key="z">1</property>
        <property type="string" key="state">floating</property>
        <anchors target="3D View">
            <line own="left" target="left"/>
            <line own="bottom" target="bottom"/>
        </anchors>
    </ignition-gui>
    <play_pause>true</play_pause>
    <step>true</step>
    <start_paused>false</start_paused>
</plugin>

<!-- Time / RTF -->
<plugin filename="WorldStats" name="World stats">
    <ignition-gui>
        <title>World stats</title>
        <property type="bool" key="showTitleBar">false</property>
        <property type="bool" key="resizable">false</property>
        <property type="double" key="height">110</property>
        <property type="double" key="width">290</property>
        <property type="double" key="z">1</property>
        <property type="string" key="state">floating</property>
        <anchors target="3D View">
            <line own="right" target="right"/>
            <line own="bottom" target="bottom"/>
        </anchors>
    </ignition-gui>
    <sim_time>true</sim_time>
    <real_time>true</real_time>
    <real_time_factor>true</real_time_factor>
    <iterations>true</iterations>
</plugin>

<dialog name="quick_start" show_again="true"/>
